<%= render "layouts/header"%>
<table width="100%" align="left">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
    	<td width="20%" valign="top" align="center">
    		<table  style="background-color:#E6E6E6; border-radius: 15px;" width="70%">
    			<tr>
    				<td>
    				    <ul class="nav nav-list">
					    <li class="nav-header">Options</li>
					    <li class="active"><%= link_to "Home", index_path(:email=>@teacher.email), :post => true%></a></li>
					    <li><%= link_to "Crear Tesis", new_thesis_path(:id=>@teacher.id) %></li>
					    </ul>
    				</td>
    				<tr><td>&nbsp;</td></tr>
    				<tr><td>&nbsp;</td></tr>
    			</tr>
    		</table>
    	</td>
	    <td width="75%">
	    	<table width="100%">
			    <tr>
				    <td><b>Título de la tesis:</b><br><%= @thesis.title %><br></td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
				    <td><b>Descripción:</b><br><%= @thesis.description %></td>
				</tr> 
				<tr><td>&nbsp;</td></tr>
				<tr><td><b>Más Opciones:</b></td></tr>
				
				<tr>
					<td width="100%">
						 <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
						    <ul class="nav nav-tabs">
							    <li class="active"><a href="#tab1" data-toggle="tab">Estado de Tesis</a></li>
							    <li><a href="#tab2" data-toggle="tab">Nuevo Estudiante</a></li>
							    <li><a href="#tab3" data-toggle="tab">Nueva Reunion</a></li>
							    <li><a href="#tab4" data-toggle="tab">Consultar Estudiantes</a></li>
							    <li><a href="#tab5" data-toggle="tab">Consultar Reuniones</a></li>
                                <li><%= link_to 'Consultar compromisos', commitment_path( @thesis) %></li>
							</ul>
						    <div class="tab-content">
							    <div class="tab-pane active" id="tab1">
							    	<table width="100%">
							    		
							    		<%= form_tag comenzar_path(:email=>@teacher.email,:id=>@thesis.id), :method => 'post' do %>
								    		<tr>
									    		<td><b>Descripción:</b><br><%= @thesis.state %></td>
									    	</tr>
									    	<tr><td>&nbsp;</td></tr>
									    	<tr>
									    		<% if @thesis.state=='Inactiva' %>
										    		<td>
										    			<%= submit_tag "Comenzar el proceso de tesis", :name => 'comenzar', class: "btn"%>
										    		</td>
										    	<% else %>
										    		<td>
										    			<%= submit_tag "Terminar tesis", :name => 'terminar', class: "btn"%>
										    		</td>
									    		<% end %>
									    	</tr>
									    <% end %>
								    </table>
								</div>
								<div class="tab-pane" id="tab2">
									<b>Nuevo estudiante</b>
									<%= form_for @student, :url=>{:thesis_id=>@thesis.id, :emailTeacher=>@teacher.email, :controller=>"students", :action=>"create"}, :method => "post" do |f| %>
									  <% if @student.errors.any? %>
									    <div id="error_explanation">
									      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

									      <ul>
									      <% @student.errors.full_messages.each do |msg| %>
									        <li><%= msg %></li>
									      <% end %>
									      </ul>
									    </div>
									  <% end %>
									  <div class="field">
									    <%= f.text_field :name, :placeholder => 'Name' %>
									  </div>
									  <div class="field">
									    <%= f.text_field :email, :placeholder => 'Email' %>
									  </div>
									  <div class="actions">
									    <%= f.submit "Asignar", class: "btn"%>
									  </div>
									<% end %>
								    
							    </div>
							    <div class="tab-pane" id="tab3">
								    <p>Nueva reunion.</p>
							    </div>
							    <div class="tab-pane" id="tab4">
								    <b>Lista de estudiantes</b>
								    <table>
								    	<tr>
										    <td><b>Nombre Estudiante</b></td>
										    <td width="10px"></td>
										    <td><b>Email Estudiante</b></td>
										  </tr>
									    <% @thesis.students.each do |student| %>
										  <tr>
										    <td><%= student.name %></td>
										    <td width="10px"></td>
										    <td><%= student.email %></td>
										  </tr>
										<% end %>
									</table>
							    </div>
							    <div class="tab-pane" id="tab5">
								    <p>Buesqueda reuniones</p>
							    </div>
                            </div>
						</div>
					</td>
				</tr>  
    		</table>
	  	</td>
   </tr>
</table>
