<html xmlns="http://www.w3.org/1999/html">
  <head>
    <%= stylesheet_link_tag 'commitments.css', :media => 'screen' %>
    <h1>Compromisos establecidos para la tesis</h1>
    <br/>
    <h2> <%= @thesis_id %> -  <%=  @thesis.title %>  </h2>
  </head>
  <body>

    <table id="commitments">
      <tr>
        <th> Commitment </th>
        <th> Description </th>
        <th> Meeting </th>
        <th> Due date </th>
        <th> Status </th>
      </tr>
      <% even = 1 %>
      <% @commitments.each do |c| %>
          <tr>
            <td class="r<%=even.to_s%>"><%= c.title %> </td>
            <td class="r<%=even.to_s%>"><%= c.description %> </td>
            <td class="r<%=even.to_s%>" id="meeting"><%= c.meeting_date( c.meeting_id) %> </td>
            <td class="r<%=even.to_s%>"><%= c.due_date_day(c.due_date) %> </td>
            <td class="r<%=even.to_s%>" id="<%= if c.done then 's2' else 's1' end%>"> <%= c.status_text(c.done) %> </td>
          </tr>
          <% even = (even + 1) % 2 %>
      <% end %>
    </table>
  </body>
