<%= render "layouts/headerStudent"%>
<table width="100%"  style="left:0px;">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
    	<td width="20%" valign="top" align="center">
    		<%= render "layouts/menuStudent"%>
    	</td>
	    <td width="75%">
        <table>
          <% @thesis.deliverables.each do |deliverable| %>
              <tr>
                <td><i>El <%= deliverable.created_at  %></i>:<br /><%= deliverable.title %></td>
              </tr>
              <tr>
                <td>Archivo:<br /><%= deliverable.file_name %></td>

              </tr>
          <% end %>
        </table>
        <b>Nuevo entregable:</b>
        <table>
          <tr>
            <td><b>Entregable</b></td>
            <%= form_for :deliverable, :url=>{:thesis_id=>@thesis.id, :controller=>"deliverables", :action=>"create"}, :method => "post" do |f| %>
                <div class="field">
                  <%= f.text_field :title, :placeholder => 'Title' %>
                </div>
                <div class="field">
                  <%= f.file_field :file, :placeholder => 'File' %>
                </div>
                <div class="field">
                  <%= f.text_field :description, :placeholder => 'Description' %>
                </div>
                <div class="actions">
                  <%= f.submit "Enviar", class: "btn"%>
                </div>
            <% end %>
          </tr>
        </table>
	  	</td>
   </tr>
</table>
<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
  <tr><td colspan="2">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </td></tr>
</table>

