<%= render "layouts/headerStudent"%>
<table width="100%"  style="left:0px;">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
    	<td width="20%" valign="top" align="center">
    		<table  style="background-color:#E6E6E6; border-radius: 15px;" width="70%">
    			<tr>
    				<td>
    				    <ul class="nav nav-list">
					    <li class="nav-header">Options</li>
					    <li class="active"><%= link_to "Home", index_path(:email=>@student.email), :post => true%></li>
					    <li class="divider"></li>
					    <li><%= link_to "Estado del arte", resourcesIndex_path(:email=>@student.email) %></li>
					    <li class="divider"></li>
					    <li><%= link_to "Compromisos", commitment_path(:id=>@thesis, :comm_type=>'open') %></li>
					    <li class="divider"></li>
					    </ul>
    				</td>
    				<tr><td>&nbsp;</td></tr>
    				<tr><td>&nbsp;</td></tr>
    			</tr>
    		</table>

    	</td>
	    <td width="75%">
	    	<table>
	    		<tr><td colspan="2">
	    		<div class="tabbable">
	    			<ul class="nav nav-tabs nav-stacked">
		          	<% @sources.each do |c| %>
					    <li><a href="#<%= c.id %>" data-toggle="tab"><%= c.title %></a></li>
					 <% end %>
					</ul>
					<div class="tab-content">
					<% @sources.each do |c| %> 
					    <div class="tab-pane" id="<%= c.id %>" >
						    <%= c.citation %>
						    <%= c.url %>
					    </div>
					
		          	<% end %>
		          	</div>
		         </div>
				</td></tr>
			</table>
			
	        <%= stylesheet_link_tag 'sources.css.scss', :media => 'screen' %>
	        <h1 class="center">Fuentes de investigación de la tesis</h1>
	        <br/>
	        <table id="sources" class="tabla" with="80%">
	          <tr>
	            <th> Source </th>
	            <th> Citation </th>
	            <th> URL </th>
	          </tr>
	          <% even = 1 %>
	          <% @sources.each do |c| %>
	              <tr>
	                <td class="r<%=even.to_s%>"><%= c.title %> </td>
	                <td class="r<%=even.to_s%>"><%= c.citation %> </td>
	                <td class="r<%=even.to_s%>"><%= c.url %> </td>
	              </tr>
	              <% even = (even + 1) % 2 %>
	          <% end %>
	        </table>
	        <div class="link">
	           <br> <br>
	           <%= link_to 'Regresar', indexUsuario_path(:email =>@student.email), class: "btn btn-large btn-primary"%>
	        </div>
	  	</td>
   </tr>
</table>
<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
  <tr><td colspan="2">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </td></tr>
</table>

